.tarjeta {
  background-color: var(--superficie);
  color: var(--texto);
  border: 5px solid rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  padding: 1.5rem;
  margin: 5px;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



.etiquetaNuevo {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--primario);
  color: white;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.disponible {
  border: 5px solid var(--éxito);
}

.pocos {
  border: 5px solid var(--alerta);
}

.completo {
  opacity: 0.65;
  border: 5px solid var(--peligro);
}

.contenedorBarra {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 4px;
  height: 8px;
  width: 100%;
  margin: 1rem 0;
  overflow: hidden;
}

.progresoBarra {
  background-color: var(--primario);
  height: 100%;
  transition: width 0.3s ease;
}

.expandida {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-color: var(--primario);
}

.descripcion {
  margin-top: 1rem;
  font-size: 0.9ln;
  border-top: 2px dashed rgba(128, 128, 128, 0.3);
  padding-top: 0.5rem;
}

