:root {
    --fondo: white;
    --superficie: white;
    --texto:black;
    --primario: purple;
    --éxito: green;
    --alerta:red;
    --peligro:orange;
} 
[data-tema="claro"]{
    --fondo: white;
    --superficie: white;
    --texto:black;
    --primario: purple;
    --éxito: green;
    --alerta:red;
    --peligro:orange;
}
[data-tema="oscuro"]{
    --fondo: black;
    --superficie: black;
    --texto:white;
    --primario: purple;
    --éxito: green;
    --alerta:red;
    --peligro:orange;
}
body {
    background-color: var(--fondo);
    color: var(--texto);
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
}